<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="author" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block title_page %}Admin{% endblock %}{% block default_page_title %}{% endblock %}</title>
        {# -------------------------------------------------------------------------------------------------- STYLESHEETS #}
        {% if crontaskStyle is defined and crontaskStyle is empty %}
            <link rel="stylesheet" href="{{ asset('bundles/frchocrontask/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/frchocrontask/css/bootstrap2.min.css')}}" />
        {% else %}

        {% endif %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div>
            <!-- Main content -->
            <section class="content ">
            {% block page_content %}{% endblock %}
        </section>
        <!-- /.content -->
    </div>

    {# ------------------------------------------------------------------------------------------------------ JAVASCRIPTS #}
    {% if crontaskStyle is defined and crontaskStyle is empty %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/frchocrontask/js/jquery-1.12.2.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/frchocrontask/js/bootstrap-toggle.min.js') }}"></script>
        {% endblock %}
    {% else %}
        <script type="text/javascript" src="{{ asset('bundles/frchocrontask/js/jquery-1.12.2.min.js') }}"></script>
    {% endif %}
    <!-- /.content-wrapper -->
    <script>

        $(document).ready(function () {
        {# ----------------------------------------------------------------------------------------------- JAVASCRIPTS_INLINE #}
        {% block javascripts_inline %}

        {% endblock %}
        {# ----------------------------------------------------------------------------------------------- SCRIPTS #}
        {% block scripts %}

        {% endblock %}
            });

        {% block functions_javascript %}
        {% endblock %}

    </script>
</body>
</html>
